* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font: 13px Helvetica, Arial;
}

form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 80%;
  margin-right: .5%;
}

form button {
  width: 19%;
  background: #dd855c;
  border: none;
  padding: 10px;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

#messages {
  margin-bottom: 40px
}


/* login */
.page {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  z-index: 100;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

#n {
  margin-top: 15px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 5px;
  text-align: center;
  width: 80%;
  font-size: 18px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page #n {
  color: #fff;
  font-weight: 100;
}

.btn {
  background: #000;
  border-color: transparent;
  border-radius: 0px;
  border-width: 2px;
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 1s ease;
  margin: 10px 0px;
  display: inline-block;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background: #ddd;
}
